<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/events/new.css">
<%- include('../partials/nav') %>


<h1><%= title %></h1>
<div class="events-container">
  <div>
<% events.forEach(event => { %>
  <div class="events-card">
  <h2><%= event.title %> - posted by <%= event.author.name %></h2>
  <p><%= event.venue %></p>
  <p><%= event.location %></p>
  <p><%= event.content %></p>
  <% if (event.author._id.equals(user.profile._id)) { %>
    <a href="/events/<%= event._id %>/edit">
      <button class="btn">Edit this Event</button>
    <form action="/events/<%= post._id %>?_method=DELETE" method="POST"> 
    <button>Delete 🚮</button>
    </form>
    </a>
    <% } %>
    <button class="details-button">See Post</button>
  </div>
<% }) %>
</div>



<%- include('../partials/footer') %>